{
    "useTabs": false,
    "printWidth": 120,
    "tabWidth": 4,
    "singleQuote": true,
    "trailingComma": "none",
    "rcVerbose": true,
    "semi": true,
    "arrowParens": "always",
    "bracketSpacing": true
}